*Thumbs.db
*.DS_Store
!wp-content/plugins/
wp-content/plugins/*
!wp-content/plugins/index.php
!wp-content/plugins/akismet/
!wp-content/plugins/better-wp-security/
!wp-content/plugins/broken-link-checker/
!wp-content/plugins/codepress-admin-columns/
!wp-content/plugins/compact-taxonomy-checkboxes/
!wp-content/plugins/configure-smtp/
!wp-content/plugins/contact-form-7/
!wp-content/plugins/google-analyticator/
!wp-content/plugins/imagefocuspoint/
!wp-content/plugins/mrss/
!wp-content/plugins/no-self-pings/
!wp-content/plugins/really-simple-captcha/
!wp-content/plugins/revision-control/
!wp-content/plugins/shashin/
!wp-content/plugins/simple-image-sizes/
!wp-content/plugins/threewp-activity-monitor/
!wp-content/plugins/toppa-plugin-libraries-for-wordpress/
!wp-content/plugins/wordpress-seo/
!wp-content/plugins/wp-cms-post-control/
!wp-content/plugins/wp-database-optimizer-tools/
!wp-content/uploads/
wp-content/uploads/*
.htaccess
/.htaccess
/assets/
wp-content/w3tc-*
cache